body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.navbar-brand img {
  height: 80px;
}

.navbar-nav {
  padding-right: 20px;
  border-right: 3px solid #dfa974;
}

.nav-item a:link,
.nav-item:visited {
  color: #dfa974;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

.nav-item a:hover,
.nav-item:active {
  color: #dfa974;
}

/*hero section */
.hero-image {
  background: linear-gradient(to bottom, #0000008f, #000000bb),
    url(./assets/header.jpg);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.hero-text-box {
  color: #fff;
  width: 100%;
  margin-inline: auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding-inline: 20px;
}

.bg-blue-dark {
  background-color: #193566;
}

form {
  position: relative;
  margin-top: -150px;
  z-index: 11;
}

.btn-sumbit {
  background-color: #dcaa78;
  width: 100%;
  padding: 8px 0;
  margin-top: 28px;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
}

.btn-blue {
  background-color: #193566;
  padding: 15px 40px;
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 20px;
  width: 40%;
}

.btn-gold {
  background-color: #dcaa78;
  padding: 15px 40px;
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 20px;
  width: 40%;
}

.text-gold {
  color: #dcaa78;
}

.about-img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

p {
  color: #555;
  font-size: 17px;
  line-height: 1.7;
}

.hero-text-box p {
  color: #f3f3f3;
}
.fas {
  color: #dcaa78;
  font-size: 24px;
  margin-bottom: 18px;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}

.service-item h4 {
  color: #193566;
  font-size: 20px;
  color: #333;
}

.service-item p {
  font-size: 16px;
  color: #777;
}

.service-item {
  background-color: #f2f2f2;
  padding: 20px;
  min-height: 180px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  transition: all 0.3s linear;
}

.service-item:hover {
  color: #fff !important;
  background: #193566;
}

.service-item:hover h4,
.service-item:hover p {
  color: #f3f3f3;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card {
  position: relative;
  overflow: hidden;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}

.card-img-box {
  height: 100%;
  width: 100%;
}

.card-body {
  padding: 0;
}
.card-text {
  background-color: #28292a91;
  color: #fff;
  position: absolute;
  top: 88%;
  width: 100%;
  padding: 10px;
}

.card-text h4 {
  font-size: 20px;
  font-weight: medium;
}

.card-text h3 {
  font-size: 24px;
}

.card:hover .card-text {
  top: 0;
  height: 100%;
  padding: 20px;
}

.card-text p {
  color: #dcaa78;
}

.card-text ul li {
  font-size: 16px;
}

#carouselExampleIndicators {
  position: relative;
}
 .carousel-control-prev , .carousel-control-next {
  background-color: #193566 !important;
  height: 30px !important;
  width: 30px !important;
  padding: 5px !important;
  position: absolute;
  top: 50%;
}


footer {
  background-color: #193566;
  color: #fff !important;
  padding: 40px 0;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}